header h1 {
    text-align: center;
    background-color: blue;
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-style: italic;
}

form {
    padding: 2 1 2 1;
    flex: auto;

}

#uvIndex, span{
    background-color: green;
}